body {
  margin: 0;
  font-family: Arial;
  background: #0b1d39;
  color: white;
}

.section {
  padding: 20px;
}

h2 {
  color: #4da3ff;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

input, select {
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
}

.btn {
  background: #1e90ff;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card {
  background: #142a52;
  padding: 15px;
  border-radius: 10px;
}

.delete {
  background: red;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}
